@font-face {
    font-family: Lato;
    src: url(../../public/fonts/Lato-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, serif;
}

#app {
    display: flex;
    flex-flow: row;
}
